@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white: #f9f6ee;
  --primary: #1831bc;
}

body {
  background: var(--background-white);
  color: var(--primary);
  font-size: 16px;
  box-sizing: border-box;
}
